/* p {
    font-size: 1.2rem;
} */

img {
    height: 20px;
}

.container-flex {
    width: 700px;
    margin: 0 auto;
        margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* line-height: 0.1rem; */
}
    .container-body {
        width: 100%;
        background-color: whitesmoke;
        border: 2px solid grey;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 1.2rem;
        overflow: hidden;
    }

.header {
    height: 80px;
    background-color: lightseagreen;
    margin-bottom: 30px;
}
    #user {
    height: 100px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 3px 3px 3px grey;
    padding: 5px;
    margin: 20px 0px 0px 40px;
    }

.info {
    padding: 20px;
    margin: 20px;
}
    .location {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    #desc {
        margin-top: 10px;
    }
    .edit {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }


* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Roboto', sans-serif;
}